
<ion-content>
  <ion-slides pager="ios" class="slide-full">
    <ion-slide *ngFor="let slide of slides" >
      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image" />

        <ion-card-header>
          <ion-card-subtitle>{{slide.titulo}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{slide.desc}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <ion-button (click)="goLogin()" expand="block" color="primary" class="ion-padding-start ion-padding-end">
    ACCEDER
  </ion-button>
  <ion-button (click)="exitApplication()" expand="block" color="danger" class="ion-margin-top ion-padding-start ion-padding-end">
    salir
  </ion-button>
</ion-content>
