
.exercise-button-right{
    display: flex;
    justify-content: flex-end;
    margin: 25px;

}
.exercise-button-left{
    display: flex;

    margin: 25px;

}
ion-button{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 300;
    --background: #ffffff;
    --border-radius: 15px;
    --box-shadow:none
}

ion-icon{
    margin-right: 10px;
}

