<app-menu (clickCategory)="escuchaClick($event)"></app-menu>

<ion-header id="main" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-text-capitalize">teenglish studio</ion-title> 
    
    <div slot="secondary" class="ion-padding center-horizontal">
      <ion-icon id="trophy" name="trophy" size="large"></ion-icon>
      <ion-label id="score" color="primary">{{current_score}}</ion-label>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <app-exercises [idCategorySelected]="idCategorySelected"></app-exercises>
</ion-content>
