<ion-menu side="start" menuId="first" contentId="main" disabled="true">
  <ion-header>

    <ion-toolbar color="primary"> 
      
      <ion-avatar slot="start" class="ion-margin-start ion-margin-top ion-margin-bottom" >
        <img src="../../../assets/avatars/{{avatar}}" />
      </ion-avatar>
      <ion-title size="small" class="ion-text-capitalize">
        {{completeName}}
      </ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content>
   
    <ion-text  color="primary">
      <h3 class="ion-padding-start" >Categorías</h3>
    </ion-text>
    <ion-menu-toggle>
      <ion-list class="menu-items" lines="none">
        
        <ion-item 
          *ngFor="let category of listCategories" 
          id="{{category.id}}"
          (click)="categorySelected(category.id)"
          [class.active]="category.id ===1"
        >
          <ion-icon size="large" color="primary" [name]="category.icon_name"></ion-icon>
          <ion-text color="primary" class="ion-text-capitalize">
            {{category.category}}
          </ion-text>
        </ion-item>

      </ion-list>

      <ion-item (click)="openLearning()">
        <ion-label>Aprendizaje</ion-label>
        <ion-icon size="large" slot="end" name="enter" color="primary"></ion-icon>
      </ion-item>
      
      <ion-item (click)="openAbout()">Acerca de</ion-item>

    </ion-menu-toggle>
    
  </ion-content>

  <ion-footer>
    <ion-toolbar (click)="logOut()">
      <ion-icon color="danger" slot="start" name="log-out" class="ion-margin-start" size="large"></ion-icon>
      <ion-title color="danger">Cerrar Sesión</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-menu>
